@model WebStore.Models.ViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Cart</h2>

<style>

    th, td {
        color: white;
    }
</style>


<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Product
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartProducts.FirstOrDefault().Quantity)
        </th>
        <th>
            Price (Total)
        </th>
    </tr>

    @foreach (var item in Model.CartProducts)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Products", new { productID = item.Product.ProductID })" class="text-link">
                    <img src="@Url.Action("GetImage", "Images", new { id = item.Product.DefaultImageID })" height="100" , width="100" style="padding:5px" alt="[Product Image]" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Products", new { productID = item.Product.ProductID })" class="text-link">
                    <h5 class="card-title flex-wrap">@Html.DisplayFor(p => item.Product.Name)</h5>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                £@(item.Product.Price * item.Quantity)
            </td>

            <td>
                <div class="container d-flex flex-row">
                    <div class="container d-flex flex-column" style="width: 50px;">
                        <button class="btn-sm" onclick="EditCartProduct(@item.CartProductID, @item.Quantity + 1)">+</button>
                        <button class="btn-sm mt-2" onclick="EditCartProduct(@item.CartProductID, @item.Quantity - 1)">-</button>
                    </div>
                    <button class="btn btn-danger mt-2" onclick="DeleteCartProduct(@item.CartProductID)">Remove</button>
                </div>


            </td>
        </tr>
    }

</table>

<span style="text-align:center; font-size:3rem; margin-right:20px;">Total: £@Model.CartProducts.Sum(ci => ci.Product.Price * ci.Quantity)</span>


<button onclick="ConfirmOrder(@Model.CartProducts.Sum(ci => ci.Product.Price * ci.Quantity))">Place Order</button>

<span>with Instant Pay</span>




<script>

    function ConfirmOrder(cartTotal)
    {
        var itemsList = 'This would make a purchase for items totalling\n\n';
        itemsList += '£' + cartTotal

        alert(itemsList);
    }


    function DeleteCartProduct(id, refresh=true)
    {
        $.ajax({
            url: "@Url.Action("RemoveFromCart", "UserCarts")",
            method: "Get",
            data:
            {
                cartProductID: id
            },
            success: function (data)
            {
                if (refresh) {
                    location.reload();
                }
            },
            error: function (error) { console.log(`Error:\n\n${JSON.stringify(error) }`); }
        });
    }

    function EditCartProduct(id, q, refresh=true)
    {
        $.ajax({
            url: "@Url.Action("EditCartItem", "UserCarts")",
            method: "Get",
            data:
            {
                cartProductID: id,
                quantity: q
            },
            success: function (data) {
                if (refresh) {
                    location.reload();
                }
            },
            error: function (error) { console.log(`Error:\n\n${JSON.stringify(error) }`); }
        });
    }
</script>
